parameters:
  level: 0
  paths:
    - controllers
    - frontend
    - libraries
    - listeners
    - logs
    - processes
    - views
  scanDirectories:
    - vendor
  ignoreErrors:
    - "/(Class|Interface|Trait) .+ referenced with incorrect case/"
