body.financial-settings {
	&.currencies-add .currency-add-form, &.currencies-edit .currency-edit-form {
		select:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		.col-checkbox {
			.form-group {
				margin-top: 25px;
			}
		}
	}
}