body.profile, body.users_view {
	@media (min-width: 768px) {
		.table-responsive-transactions {
			margin-left: -30px;
		}
		&.rtl {
			.table-responsive-transactions {
				margin-right: -30px;
				margin-left: 0;
			}
		}
	}
}