.refund-request {
	font-family: yekan;
	.user-currenct-credit {
		display: none;
	}
}
#transactionsearch {
	.checkbox-inline {
		padding-right: 15px;
		margin: 0 !important;
		font-family: yekan;
	}
}
.daterangepicker.rtl {
	margin-top: 0 !important;
}
.modal-danger {
	color: #a94442;
	border-color: #a94442;
	.modal-header {
		h4 {
			font-family: nazanin;
		}
		border-bottom: none;
	}
	.modal-body {
		font-family: yekan;
		color: #a94442;
	}
	.modal-footer {
		border-top: 0;
		background: #fff;
		button {
			color: #a94442;
			border-color: #ebccd1;
			background: #fff;
		}
	}
}
.panel {
	.panel-body {
		.guest_pay_link {
			color: #555;
			font-family: koodak;
			font-size: 15px;
			.icon {
				text-align: center;
				margin-bottom: 15px;
				margin-top: 5px;
				i {
					border: solid 2px;
					border-radius: 50%;
					padding: 10px;
				}
			}
			.input-group {
				font-family: arial;
			}
		}
	}
}