body.transaction-view {
	tr {
		.ltr-text-center {
			direction: ltr;
			text-align: center;
		}
	}
}
body.transaction-accept {
	.transaction-accept-form {
		p {
			font-size: 1.2em
		}
	}
}
body.rtl {
	&.transaction-accept {
		.transaction-accept-form {
			p {
				font-family: yekan;
			}
		}
	}
	.refund-request {
		font-family: yekan;
	}
}
.refund-request {
	.user-currenct-credit {
		display: none;
	}
	#refund-form {
		.alert {
			.ltr {
				display: inline-block;
			}
		}
	}
}
#transactionsearch {
	.checkbox-inline {
		padding-right: 15px;
		margin: 0 !important;
		font-family: yekan;
	}
}
.daterangepicker.rtl {
	margin-top: 0 !important;
}
.modal-danger {
	color: #a94442;
	border-color: #a94442;
	.modal-header {
		h4 {
			font-family: nazanin;
		}
		border-bottom: none;
	}
	.modal-body {
		font-family: yekan;
		color: #a94442;
	}
	.modal-footer {
		border-top: 0;
		background: #fff;
		button {
			color: #a94442;
			border-color: #ebccd1;
			background: #fff;
		}
	}
}
.panel {
	.panel-body {
		.guest-pay-link {
			color: #555;
			font-family: koodak;
			font-size: 15px;
			.icon {
				text-align: center;
				margin-bottom: 15px;
				margin-top: 5px;
				i {
					border: solid 2px;
					border-radius: 50%;
					padding: 10px;
				}
			}
			.input-group {
				font-family: arial;
				.input-group-btn {
					i {
						padding-right: 4px;
						padding-left: 2px;
					}
				}
			}
		}
	}
}
body.pay-by-credit {
	form.pay_credit_form {
		.form-group {
			input {
				font-size: 1.7rem;
				letter-spacing: 3px;
			}
		}
	}
	&.rtl .panel-pay-by-credit-body {
		font-family: yekan;
	}
}
body.transaction-pay-online {
	form.online-pay-form {
		.form-group {
			select:-moz-focusring {
				color: transparent;
				text-shadow: 0 0 0 #000;
			}
			input {
				font-size: 1.7rem;
				letter-spacing: 3px;
			}
		}
	}
	&.rtl {
		.panel-online-pay-body {
			font-family: yekan;
		}
	}
}

#reimburse-transaction-form {
	font-family: yekan;
	line-height: 1.8;
	.help-text-container {
		margin-top: 2.5em;
	}
}